
h1{
    font-size: 2rem;
}

div{
    background-color: lightgray;
}
p{
    color: blue;
}

#main-heading{
    text-align: center;
    font-size: large;
    background-color: blue;
    color: red;
}

.highlight{
    text-align: center;
    color: blanchedalmond;
    display: inline-block;
    padding: .25em 0;
}